{% extends 'main/base.html' %}

{% block title %}Home | Sportify{% endblock %}

{% block content %}
<style>
.card:hover {
    transform: translateY(-8px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}
h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.background-section {
    background-image: url("#"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 42, 42, 0.5); /* Add a dark overlay for better text visibility */
    z-index: 1;
}
</style>
<div class="background-section">
  <div class="background-overlay">
  <div class="position-relative w-100" style="height: 60vh; overflow: hidden;">

    <div class="position-absolute text-white text-center"
        style="top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">
      <h2 class="fw-bold">Welcome To Sportify</h2>
      <p>The platform where talents meet opportunity</p>
      <a href="{% url 'main:about_page_view' %}" class="btn btn-primary btn-lg">Get to know us</a>
    </div>
  </div>


</div>
</div>
{% endblock %}
