{% extends 'main/base.html' %}

{% block title %}Dashboard | Sportify{% endblock %}
{% load static %}

{% block content %}

<h1> testing ....</h1>
{% for offer in offers %}
    <div class="offer-card">
        <h2>{{ offer.user }}</h2>
        <h2>{{ offer.title }}</h2>
        <p>{{ offer.content }}</p>
        <p>{{ offer.photo }}</p>
        <p>{{ offer.email }}</p>
        <p>{{ offer.url }}</p>
        <p>{{ offer.phone_number }}</p>
    {% empty %}
        <p>No offers available.</p>
{% endfor %}
{% endblock %}