{% extends "main/base.html" %}
{% load custom_filters %}  <!-- Load custom filters here -->

{% block content %}
<h2>Your Inbox</h2>
<div class="list-group">
    {% for user in users %}
        <a href="{% url 'direct_message:direct_chat_view' user.username %}" class="list-group-item list-group-item-action">
            <div class="d-flex justify-content-between">
                <div>
                    <strong>{{ user.username }}</strong>
                </div>
                <div>
                    {% if unread_counts|get_item:user.id > 0 %}
                        <span class="badge bg-danger">{{ unread_counts|get_item:user.id }} unread</span>
                    {% else %}
                        <span class="badge bg-success">All Read</span>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
