{% extends 'main/base.html' %}

{% block title %} Athlete Edit Profile | Sportify{% endblock %}

{% block content %}
<div class="container mt-5 p-5">
  <h3 class="text-center mb-3">Athlete Edit Profile</h3>
  <form method="POST" enctype="multipart/form-data" class="p-3 border rounded bg-white shadow-sm">
    {% csrf_token %}

    <div class="mb-3 text-center">
      <label for="id_profilePhoto" class="form-label small">Profile Photo</label>
      <input type="file" name="profilePhoto" id="id_profilePhoto" onchange="previewFile()"class="form-control form-control-sm mx-auto" style="max-width: 280px;">
      <img id="preview" src="#" alt="Image Preview" style="max-height: 200px;" />
    </div>

    <div class="row g-2">
      <div class="col-md-6">
        <label  class="form-label small">First Name </label>
        <input type="text" name="first_name" id="id_first_name" class="form-control form-control-sm" value="{{user.first_name}}" required>
      </div>
      <div class="col-md-6">
        <label  class="form-label small">Last Name </label>
        <input type="text" name="last_name" id="id_last_name" class="form-control form-control-sm" value="{{user.last_name}}" required>
      </div>

      <div class="col-md-6">
        <label  class="form-label small">Username </label>
        <input type="text" name="username" id="id_username" class="form-control form-control-sm" value="{{user.username}}" required>
      </div>
      <div class="col-md-6">
        <label  class="form-label small">Email </label>
        <input type="email" name="email" id="id_email" class="form-control form-control-sm" value="{{user.email}}"required>
      </div>

      <div class="col-md-6">
        <label  class="form-label small">Phone </label>
        <input type="text" name="phoneNumber" id="id_phoneNumber" class="form-control form-control-sm" value="{{user.athlete.phoneNumber}}" required>
      </div>
      <div class="col-md-6">
        <label  class="form-label small">DOB </label>
        <input type="date" name="dateOfBirth" id="id_dateOfBirth" class="form-control form-control-sm" value="{{user.athlete.dateOfBirth|date:'Y-m-d'}}"required>
      </div>

      <div class="col-md-6">
        <label for="id_password1" class="form-label small">Password </label>
        <input type="password" name="password1" id="id_password1" class="form-control form-control-sm" value="{{user.password1}}" required>
          <small class="text-muted">
              * Your password can't be too similar to your other personal information.<br>
              * Your password must contain at least 8 characters.<br>
              * Your password can't be a commonly used password.<br>
              * Your password can't be entirely numeric.
         </small>
      </div>
        <div class="col-md-6">
        <label for="id_password2" class="form-label small">Confirm Password </label>
        <input type="password" name="password2" id="id_password2" class="form-control form-control-sm" required>
      </div>

      <div class="col-md-6">
        <label  class="form-label small">Sport </label>
        <select name="sport" id="id_sport" class="form-select form-select-sm" required>
          {% for sport in athlete_form.fields.sport.queryset %}
           <option value="{{sport.id }}"{% if user.athlete.sport.sport_name == sport.sport_name %} selected{% endif %}>{{sport.sport_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label  class="form-label small">Playing Position</label>
        <input type="text" name="playingPosition" id="id_playingPosition" class="form-control form-control-sm" value="{{user.athlete.playingPosition}}">
      </div>

      <div class="col-md-6">
        <label  class="form-label small">Height (cm)</label>
        <input type="number" name="height" id="id_height" class="form-control form-control-sm" value="{{user.athlete.height}}">
      </div>
      <div class="col-md-6">
        <label  class="form-label small">Weight (kg)</label>
        <input type="number" name="weight" id="id_weight" class="form-control form-control-sm" value="{{user.athlete.weight}}">
      </div>

      <div class="col-md-6">
        <label  class="form-label small">Gender </label>
        <select name="gender" id="id_gender" class="form-select form-select-sm" required>
          <option value="M"{% if user.athlete.gender == "M" %} selected{% endif %}>Male</option>
          <option value="F"{% if user.athlete.gender == "F" %} selected{% endif %}>Female</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label small d-block">Availability</label>
        <div class="form-check form-check-inline">
          <input type="radio" name="isAvailable" value="True" class="form-check-input" {% if user.athlete.isAvailable == True %} checked  {% endif %}>
          <label class="form-check-label small">Available</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" name="isAvailable" value="False" class="form-check-input" {% if user.athlete.isAvailable == False %} checked  {% endif %}>
          <label class="form-check-label small">Unavailable</label>
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label small d-block">Profile</label>
        <div class="form-check form-check-inline">
          <input type="radio" name="isPrivate" value="False" class="form-check-input" {% if user.athlete.isPrivate %} checked  {% endif %}>
          <label class="form-check-label small">Public</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" name="isPrivate" value="True" class="form-check-input" {% if not user.athlete.isPrivate %} checked  {% endif %} >
          <label class="form-check-label small">Private</label>
        </div>
      </div>

      <div class="col-md-6">
        <label  class="form-label small">City </label>
        <select name="city" id="id_city" class="form-select form-select-sm" required>
          {% for city in athlete_form.fields.city.queryset %}
            <option value="{{ city.id  }}"{% if user.athlete.city.city_name == city.city_name %} selected{% endif %}>{{ city.city_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-6">
        <label  class="form-label small">About Me (Bio)</label>
        <textarea name="bio" id="id_bio" rows="3" class="form-control form-control-sm" required>{{user.athlete.bio}}</textarea>
      </div>
      <div class="col-md-6">
        <label class="form-label small">Achievements</label>
        <textarea name="achievements" id="id_achievements" rows="3" class="form-control form-control-sm" required>{{user.athlete.achievements}}</textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-dark w-100 mt-3">Edit profile</button>
  </form>
</div>
{% endblock %}
